<ion-content [fullscreen]="true">  
  <section class="main-page">
    <header class="header-strip">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
          <span class="title txt">Notification</span>
        </ion-buttons>
    </header>
    <section class="body-content">
      <main class="contact-page">
        <div *ngIf="showloader">
            <div class="loading">
                <div class="load">
                    <span class="spinner"></span>
                </div>
            </div>
        </div>
        <div class="contact-list notification-list" *ngIf="!!notficationData && notficationData.length > 0">
            <ul>
                <li *ngFor="let n of notficationData" routerLink={{n.pageUrl}} [ngClass]="{'active': n.status == 'Unread'}">
                    <div class="contact-icon">
                        <i class="material-icons">{{n.icon}}</i>
                    </div>
                    <div class="txt-body">
                        <p>{{n.notificationMsg}}</p>
                        <p class="date">{{n.time | mDateFilter:n.timeZone:'Do MMMM, YYYY, hh:mm A'}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="no-data" *ngIf="!!notficationData && notficationData.length == 0;">
            <h5>No Data Found</h5>
        </div>
      </main>
    </section>
  </section>
</ion-content>
