<ion-content fullscreen class="welcome-screen" scroll-y="false">
  <ion-slides pager="true" [options]="slideOpts">

      <ion-slide>
        <img src="/assets/img/logo-bg.png" alt="">
        <h2>Grow Up Your Startups</h2>
        <p>Increase Chain, Decrease Headache</p>
        <button class="btn btn-outline-warning" routerLink="/User/Login">Skip</button>
      </ion-slide>

    <ion-slide>
      <img src="/assets/img/logo-bg.png" alt="">
      <h2>Grow Up Your Brand</h2>
      <p>One Stop Solution for Seller & Buyer.</p>
      <button class="btn btn-outline-warning" routerLink="/User/Login">Skip</button>
    </ion-slide>

    <ion-slide>
      <img src="/assets/img/logo-bg.png" alt="">
      <h2>Grow Up Your Company</h2>
      <p>In one platform you can sell products also buy products.</p>
      <button class="btn btn-outline-warning" routerLink="/User/Login">Skip</button>
    </ion-slide>

    <ion-slide>
      <img src="/assets/img/logo-bg.png" alt="">
      <h2>Stuck in Products Share</h2>
      <p>Don't worry, Chain is solve your problems.</p>
      <button class="btn btn-outline-warning" routerLink="/User/Login">Skip</button>
    </ion-slide>

    <ion-slide>
      <img src="/assets/img/logo-bg.png" alt="">
      <h2>Ready to GO?</h2>
      <p>Let's work together to make your business growth dramatically.</p>
      <button class="btn btn-warning" routerLink="/User/Login">Enter</button>
    </ion-slide>

  </ion-slides>
</ion-content>