<ion-content [fullscreen]="true">  
  <section class="main-page">
    <header class="header-strip">
        <i class="material-icons" routerLink="/Profile">arrow_back_ios</i>
    </header>
    <section class="body-content profile-content">
        <div class="profile-bar">
            <div class="profile-img">
                <img src="assets/img/no-img.jpg" alt="">
            </div>
        </div>
        <main>
            <div class="profile-body">
                <div class="form-body">
                    <p>Change your <span>Password</span></p>
                    <form [formGroup]="changePassForm" (ngSubmit)="changePassword()">
                        <div class="form-group">
                            <span class="text-danger alert-fld-msg"
                                *ngIf="(changePassFC.oldpassword.touched || submitted) && changePassFC.oldpassword.errors?.required">
                                Old Password is required
                            </span>
                            <mat-form-field>
                                <input matInput formControlName="oldpassword" placeholder="Enter your old password" [type]="oldHide ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="oldHide = !oldHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="oldHide">
                                    <mat-icon>{{oldHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <span class="text-danger alert-fld-msg"
                                *ngIf="(changePassFC.password.touched || submitted) && changePassFC.password.errors?.required">
                                New Password is required
                            </span>
                            <mat-form-field>
                                <input matInput formControlName="password" placeholder="Enter your new password" [type]="hide ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <span class="text-danger alert-fld-msg"
                                *ngIf="(changePassFC.newConfPass.touched || submitted)&& changePassFC.newConfPass.errors?.required">
                                New Confirm Password is required
                            </span>
                            <span class="text-danger alert-fld-msg"
                                *ngIf="changePassFC.newConfPass.touched && changePassFC.newConfPass.errors?.passwordMismatch">
                                Passwords doesnot match
                            </span>
                            <mat-form-field>
                                <input matInput formControlName="newConfPass" placeholder="Confirm password" [type]="reHide ? 'password' : 'text'">
                                <button type="button" mat-icon-button matSuffix (click)="reHide = !reHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="reHide">
                                    <mat-icon>{{reHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <button type="submit" [class.spinner]="loading" [disabled]="loading" class="btn btn-warning signin-btn">Change Password</button>
                    </form>
                </div>
            </div>
        </main>
    </section>
</section>
</ion-content>
