<ion-content [fullscreen]="true">  
  <section class="main-page">
      <header class="header-strip">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <span class="title txt">Dashboard</span>
          </ion-buttons>
      </header>
    
    <section class="body-content">
        <div class="tab">
            <ul>
                <li routerLink="../UploadByMe">Upload By Me</li>
                <li routerLink="../SharedByMe">Shared By Me</li>
                <li class="active">Shared With Me</li>
            </ul>
        </div>
        <main>
            <div class="main-body-scroll">
                <div class="contact-list">
                    <div class="loading" *ngIf="showloader">
                        <div class="load">
                            <span class="spinner"></span>
                        </div>
                    </div>
                    <div class="no-data" *ngIf="noData">
                        <h5>No Data Found</h5>
                        <p class="lead">No One Share products with you</p>
                    </div>
                    <ul>
                        <li [routerLink]="['/Products/ProductList', sWm.id, sWm.name, sWm.brand_name]" *ngFor="let sWm of productSharedByVendorsList;">
                            <div *ngIf="!!sWm && sWm.brand_name else vendorIcon" class="contact-icon">{{sWm.brand_name | charFilter}}</div>
                            <ng-template #vendorIcon>
                                <div class="contact-icon">{{sWm.name | charFilter}}</div>
                            </ng-template>
                            <div class="contact">
                                <ng-template #vendorName>
                                    <h6 class="contact-name">{{sWm.name}}</h6>
                                </ng-template>                                        
                                <h6 *ngIf="!!sWm && sWm.brand_name else vendorName" class="contact-name">{{sWm.brand_name}} ({{sWm.brand_code}})</h6>
                                <p class="no">{{sWm.mobile}}</p>
                                <div class="rating-body">
                                    <span class="rating">
                                        <i class="material-icons active">star</i>
                                        <i class="material-icons active">star</i>
                                        <i class="material-icons active">star</i>
                                        <i class="material-icons active">star</i>
                                        <i class="material-icons">star</i>
                                    </span>
                                    <span class="txt">(4 Rating / 35 Review)</span>
                                </div>
                            </div>
                            <span class="badge badge-danger">{{(sWm.readBy | notification) || ''}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </section>
</section>
</ion-content>
