<header class="header-strip transparent">
    <div class="arrow" routerLink="/User/Login">
        <i class="material-icons">arrow_back_ios</i>
    </div>
</header>

<ion-content [fullscreen]="true">  
  <section class="screen login-screen login-page recover-pass">
    <div class="screen-content">
        <div class="logo">
            <img src="{{logo}}" alt="">
        </div>
        <p class="slogan">
            Increase Chain, <br>
            Decrease Headache
        </p>
    </div>
    <div class="clearfix"></div>
    <div class="screen-bottom-content">
        <div class="login-panel forgor-pass">
            <p class="text-center">We are <span>Working on</span> it. <br/>For the time being Please Contact with us.<!-- <span><br/> +91 12612 123617238</span> --></p>
            <h5><a routerLink="/Contents/Support">Contact us</a></h5>
            <!-- <p>Enter your <span>Phone Number</span> &amp; <span>Recover Password</span></p>
            <form [formGroup]="recoverPassForm" (ngSubmit)="reCoverPass()">
                <div class="form-group">
                    <mat-form-field>
                        <input type="text" formControlName="email" class="fld" matInput placeholder="Enter User id" value="">
                    </mat-form-field>
                </div>
                <button type="submit" [class.spinner]="loading" [disabled]="loading" class="btn btn-warning signin-btn">Recover Password</button>
            </form> -->
        </div>
    </div>
  </section>
</ion-content>
